@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(imgs/fundoab.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.titulologo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imglogo{
    width: 300px;
}
.tlt{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    background: rgb(250, 152, 72);
    border-radius: 16px;
    width: 450px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

/*estilo no PHP - back-end */
.users-list a .status-dot.offline {
    color: #ccc;
}

/* Pagina de chat */

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 10%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 10%);
}

.chat-box .chat {
    margin: 15px;
}

.chat-box .chat p {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 80px);
}

.chat-box .outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.chat-box .incoming .details {
    margin: 10px;
    max-width: calc(100% - 100px);
}

.chat-box .incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
    margin-right: auto;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.chat-area .typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.chat-area .typing-area button {
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}