@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(17, 17, 17, 0.3), rgba(20, 20, 20, 0.5)), url(imgs/fundoh.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.imglogo{
    width: 200px;
}
.header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #353D41;
}
.menu{
    display: flex;
    color: white;
}
.btn{
    font-size: 25px;
}
.btn-close{
    background-color: azure;
}
.tltmenu{
    color: white;
}

.offcanvas-header{
    background-color: #353D41;
}
.offcanvas-body{
    background-color: #353D41;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-decoration: none;
}



.tltmenus{
    color: white;
    text-decoration: none;
}

.a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.a:hover{
    color: rgb(204, 140, 20);
}


.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}





main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.titulo {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.subtitulo {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.resul{
    margin-bottom: 7rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}




.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons .btns {
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    text-decoration: none;
}

.buttons .btns:hover {
    color: rgb(204, 140, 20);
    border: none;
}

.buttons .btns:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 70px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.buttons .btns:hover:before {
    width: 100%;
}

